extends ../shared/template
block content
  #trips
    .container
      .col-xs-12
        #map
      .row
        .col-xs-4
          form(role='form', method='post', action='/trips/#{trip._id}/stops')
            .form-group
            button.btn.btn-success#add-stop(type='button') Add Stop
            .col-xs-8
             .form-group.stop-group
              input.form-control.stops(type='text', name='stops')
              button.btn.btn-primary(type='submit') Add Stops to Trip

block scripts
  script(src='/js/user/show.js')

