extends ../shared/template
block content
  #trips
    .container
      .col-xs-12
        #map
      .row
        .col-xs-4
          form(role='form', method='post', action='/trips/#{trip._id}/stops')
            .form-group
            .form-group.stop-group
              input.form-control.stops(type='text', name='stops')
              button.btn.btn-primary(type='submit') Add Stops to Your Trip
        .col-xs-4

        .col-xs-4
              h3 Pictures from the Trip
              each photo in trip.photos
                .photo.thumbnail.a(href='#{photo}'): img(src='#{photo}')

block scripts
  script(src='/js/user/show.js')

